@page "/products"
@using BlazorPunterHomeApp.Data
@using PunterHomeApp.ApiModels;
@using DataModels.Helpers;
@using BlazorPunterHomeApp.ViewModels;

@using PunterHomeDomain.Models;
@using BlazorPunterHomeApp.Components;

@inject Blazored.Modal.Services.IModalService Modal
@inject ProductService ProductService
<h3>Products</h3>
<button @onclick="ShowNewProductModal" class="btn btn-primary">New product</button>

<div class="row">
    <div class="col-sm-12 col-md-6">
        <ul class="list-group ">
            @foreach (var cnt in products)
            {
                <li class="list-group-item list-group-item-action justify-content-between @((cnt.Id == SelectedProduct?.CurrentSelectedProduct?.Id) ? "active" : "")" @onclick="@(e => ItemClick(e, cnt))">
                    @cnt.Name
                    <span class="badge @((cnt.Quantity > 0) ? "badge-info" : "badge-warning") badge-pill">@cnt.Quantity</span>
                </li>

            }
        </ul>
    </div>
    @if (SelectedProduct != null)
    {
        <div class="col-sm-12 col-md-6">
            <h4>@SelectedProduct.CurrentSelectedProduct.Name</h4>
            <label style="cursor:pointer; font-size:10pt; color:red" @onclick="@(e => HandleDeleteProduct(SelectedProduct.CurrentSelectedProduct))">Delete product</label>
            <p>@SelectedProduct.CurrentSelectedProduct.Id</p>

            @foreach (var prodQuan in SelectedProduct.CurrentSelectedProduct.ProductQuantities)
            {
                <div class="row">
                    <div class="col">
                        <p>
                            @prodQuan.UnitQuantityTypeVolume @prodQuan.MeasurementType<br>
                            <div class="input-group col-6">
                                <span class="input-group-btn">
                                    <button type="button" @onclick="@(e => DecreaseQuantity(prodQuan.Id))" class="btn btn-square btn-danger btn-number" data-type="minus" data-field="quant[2]">
                                        <span class="glyphicon glyphicon-minus">-</span>
                                    </button>
                                </span>
                                <span class="input-group-btn">
                                    <button type="button"@onclick="@(e => IncreaseQuantity(prodQuan.Id))" class="btn btn-square btn-success btn-number" data-type="plus" data-field="quant[2]">
                                        <span class="glyphicon glyphicon-plus">+</span>
                                    </button>
                                </span>
                            </div>
                        </p>
                    </div>
                    <div class="col">
                        <label style="cursor:pointer; font-size:10pt; color:red" @onclick="@(e => HandleDeleteProductQuantity(prodQuan.Id))">Delete product quantity</label>
                    </div>
                </div>
            }

            <div class="row">
                <button @onclick="ShowAddProductQuantityModal" class="btn btn-outline-secondary">Add quantity</button>
            </div>
        </div>
    }
</div>

@code {
    public NewProductApiModel newProduct = new NewProductApiModel();
    private ProductModel[] products = new ProductModel[0];

    protected override async Task OnInitializedAsync()
    {
        products = await ProductService.GetProducts();
        ProductService.RefreshRequired += async (a, b) =>
        {
            products = await ProductService.GetProducts();

            InvokeAsync(() => StateHasChanged());
        };
    }

    private async void ShowNewProductModal()
    {
        var moviesModal = Modal.Show<NewEditProductComponent>("New product");
        var result = await moviesModal.Result;

    }
    private async void HandleDeleteProductQuantity(int id)
    {
        await ProductService.DeleteProductQuantity(id);
        StateHasChanged();
    }

    private async void HandleDeleteProduct(ProductModel vm)
    {
        await ProductService.DeleteProduct(vm);
        StateHasChanged();
    }

    private async void ShowAddProductQuantityModal()
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(NewEditProductQuantityComponent.Product), SelectedProduct.CurrentSelectedProduct);

        var adddQuantityModal = Modal.Show<NewEditProductQuantityComponent>("Add product quantity", parameters);

        var result = await adddQuantityModal.Result;

        if (!result.Cancelled)
        {
            StateHasChanged();
        }
    }

    private async void HandleSubmit()
    {
        await ProductService.AddProduct(newProduct);
        newProduct = new NewProductApiModel();

        products = await ProductService.GetProducts();
        StateHasChanged();
    }

    private async void HandleAddQuantity()
    {
        await ProductService.AddQuantityToProduct(SelectedProduct.NewProductQuantity, SelectedProduct.CurrentSelectedProduct);
        SelectedProduct.NewProductQuantity = new PunterHomeDomain.Models.ProductQuantity();
        StateHasChanged();
    }

    private BlazorPunterHomeApp.ViewModels.ProductViewModel SelectedProduct;

    private void ItemClick(MouseEventArgs e, ProductModel product)
    {
        if (SelectedProduct == null)
        {
            SelectedProduct = new ViewModels.ProductViewModel(product);
            SelectedProduct.PropertyChanged += (a, b) => StateHasChanged();
        }
        else
        {
            SelectedProduct.SetProduct(product);
        }
        StateHasChanged();
    }

    private async void IncreaseQuantity(int prodQuanId)
    {
        await ProductService.IncreaseProductQuantity(prodQuanId);
        SelectedProduct.ChangeQuantity(prodQuanId, 1);
        StateHasChanged();
    }

    private async void DecreaseQuantity(int prodQuanId)
    {
        await ProductService.DecreaseProductQuantity(prodQuanId);
        SelectedProduct.ChangeQuantity(prodQuanId, -1);
        StateHasChanged();
    }
}
