@page "/recipe/{Id:guid}"
@inject Blazored.Modal.Services.IModalService Modal
@inherits RecipedetailsViewBase
@if (Recipedetails != null)
{
    <div class="container-xl" Margin="Margin.Is3.FromTop" Padding="Padding.Is2.FromTop">
        <Row>

            <Column Flex="Flex.JustifyContent.Center">

                <Heading Margin="Margin.Is2.FromTop" Size="HeadingSize.Is2" TextWeight="TextWeight.Bold">@Recipedetails.Name</Heading>
            </Column>

        </Row>
        <Row Margin="Margin.Is2.FromBottom">
            <Column ColumnSize="ColumnSize.Is12.OnMobile.Is4.OnDesktop">
                <Div Class="d-flex flex-column" Style="background: #EEEAE4; box-shadow: 0px 0px 5px grey; border-radius: 8px;" Padding="Padding.Is3">
                    <h4 class="mb-0 align-middle">Ingredients</h4>
                    <Div Class="d-flex px-3 my-3 justify-content-between" Style="background: #D9D9D9; border-radius: 30px">
                        <h6 class="my-2">@IngredientMultiplier personen</h6>

                        <Div Class="d-flex">

                            <Button Class="btn oval-button-tertiary" @onclick="() => ChangePersons(IngredientMultiplier - 1)"><i class="fa-solid fa-minus"></i></Button>
                            <Button Class="btn oval-button-tertiary" @onclick="() => ChangePersons(IngredientMultiplier + 1)"><i class="fa-solid fa-plus"></i></Button>
                        
                        </Div>
                    </Div>
                    <Div Margin="Margin.Is3.FromBottom.OnMobile.Is3.FromRight.OnDesktop">
                        <ul class="list-unstyled">
                            @foreach (var details in Recipedetails.Ingredients)
                            {
                                <li>
                                    <div class="flex m-1">
                                        <Div>

                                        </Div>
                                        <Div style="width: 100px">
                                            <strong>@(details.UnitQuantity * IngredientMultiplier)
                                            @details.UnitQuantityType</strong>

                                        </Div>
                                        <Span>
                                            @details.ProductName</Span>
                                    </div>
                                </li>
                            }
                        </ul>
                        
                        <Button Class="btn btn-primary" @onclick="ShowModal">Toevoegen aan boodschappen</Button>
                    </Div>
                </Div>
                    



            </Column>

            <Column ColumnSize="ColumnSize.Is12.OnMobile.Is8.OnDesktop">
                
                    <Div Class="d-flex flex-column element-shadow-5" style="border-radius: 8px" Padding="Padding.Is3">
                   @* <h4>Instruction</h4>
                    <hr class="bg-el-0" />*@
                    <h4 class="mb-3 align-middle">Bereidingswijze</h4>
                @foreach(var step in Recipedetails.Steps)
                {
                    <BlazorPunterHomeApp.Components.RecipeStepComponent StepNumber="@step.Order" Text="@step.Text"></BlazorPunterHomeApp.Components.RecipeStepComponent>
                }
                </Div>

            </Column>
        </Row>
    </div>

}

<Modal @ref="modalRef">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Kies lijst om recept aan toe te voegen</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            @if(AllShoppingLists != null)
            {
              
            <ListGroup Mode="ListGroupMode.Selectable" @bind-SelectedItem="SelectedShoppingList">
                @foreach(var x in AllShoppingLists)
                {
                    
                    <ListGroupItem Name="@x.Id.ToString()">@x.Name</ListGroupItem>

                }
            </ListGroup>  

            }
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@HideModal">Cancel</Button>
            <Button Color="Color.Primary" Clicked="@HideAndSaveModal">Toevoegen</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@*<Modal @ref="changStepModel">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Kies lijst om recept aan toe te voegen</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            @if(AllShoppingLists != null)
            {
              
            <ListGroup Mode="ListGroupMode.Selectable" @bind-SelectedItem="SelectedShoppingList">
                @foreach(var x in AllShoppingLists)
                {
                    
                    <ListGroupItem Name="@x.Id.ToString()">@x.Name</ListGroupItem>

                }
            </ListGroup>  

            }
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@HideModal">Close</Button>
            <Button Color="Color.Primary" Clicked="@HideAndSaveModal">Save Changes</Button>
        </ModalFooter>
    </ModalContent>
</Modal>*@
