@page "/shoppinglist/{Id:guid}/{Name}"


<div class="container" style="margin-bottom: 125;">
    <div class="row justify-content-start p-2">
        <div class="d-flex px-2">
            <Div Class="d-flex flex-column justify-content-start">
            <h3>@Name</h3>
            <h6>Boodschappenlijst</h6>

        </Div>
        </div>
        
    </div>
    @if (ProductItems.Count + RecipeItems.Count + Items.Count > 0)
    {

        <div class="row justify-content-md-start">
            <Column>
                <btn class="btn btn-outline-primary col-12 col-md-6 mb-3" @onclick="@(() => SetShopping())">
                    Winkelen
                </btn>
            </Column>
        </div>
    }
    <Tabs SelectedTab="@SelectedTab" SelectedTabChanged="@OnSelectedTabChanged">
        <Items>
            <Tab Name="Recepten"><h5>Recepten</h5></Tab>
            <Tab Name="Producten"><h5>Producten</h5></Tab>
            <Tab Name="LosseItems"><h5>Items</h5></Tab>
        </Items>

        <Content>
            <TabPanel Name="Recepten" tabindex="0">
                <div class="mt-3 mt-md-0 col-12 p-0 m-0">
                    <ListGroup>
                        @foreach (var item in RecipeItems)
                        {
                            <ListGroupItem>
                                <div class="row">
                                    <Column ColumnSize="ColumnSize.IsAuto">
                                        <Span>@($"{item.Model.Amount}")</Span>
                                    </Column>

                                    <Column>
                                        <Text>@item.Name</Text>
                                    </Column>

                                    <div class="col-2 d-flex justify-content-end">
                                        <Button Outline Clicked="@(() => RemoveItem(item.Name))">
                                            <Icon Name="IconName.Delete"></Icon>
                                        </Button>
                                    </div>
                                </div>
                            </ListGroupItem>
                        }
                    </ListGroup>
                </div>
            </TabPanel>

            <TabPanel Name="Producten" tabindex="1">
                <div class="mt-3 mt-md-0 col-12 p-0 m-0">
                    <ListGroup>
                       @foreach (var item in ProductItems)
                        {
                            <ListGroupItem>
                                <div class="row">
                                    <Column ColumnSize="ColumnSize.IsAuto">
                                        <Span>@($"{item.Model.Amount} {item.EUnitMeasurementType}")</Span>
                                    </Column>

                                    <Column>
                                        <Span><strong class="h5">@item.Model.ProductName</strong></Span>
                                    </Column>

                                    <div class="col-2 d-flex justify-content-end">
                                        <Button Outline Clicked="@(() => RemoveItem(item.Model.ProductName))">
                                            <Icon Name="IconName.Delete"></Icon>
                                        </Button>
                                    </div>
                                </div>
                            </ListGroupItem>
                        }
                    </ListGroup>
                </div>
            </TabPanel>

            <TabPanel Name="LosseItems" tabindex="2">
                <div class="mt-3 mt-md-0 col-12 p-0 m-0">
                    <ListGroup>
                        @foreach (var item in Items)
                        {
                            <ListGroupItem>
                                <div class="row">
                                    <div class="col-10 d-flex">
                                        <Text>@item.Value</Text>
                                    </div>

                                    <div class="col-2 d-flex justify-content-end">
                                        <Button Outline Clicked="@(() => RemoveItem(item.Value))">
                                            <Icon Name="IconName.Delete"></Icon>
                                        </Button>
                                    </div>
                                </div>
                            </ListGroupItem>
                        }
                    </ListGroup>
                </div>
            </TabPanel>
        </Content>
    </Tabs>




</div>


<Div Class="fixed-bottom fixed-bottom-bar" id="myBottomDiv">
    <div class="container">
        
    <EditForm OnValidSubmit="AddItem" Model="newItemModel">
        <div class="form-group mb-2">
            <TextEdit Placeholder="Nieuw item" @bind-Text="newItemModel.Text" />
        </div>
        <div class="form-group mb-2">
            <button type="submit" class="btn btn-primary">Toevoegen</button>
        </div>
    </EditForm>
    </div>
</Div>
