@page "/shoppinglist/{Id:guid}/shop"


<div class="container-fluid">
    <BlazorPunterHomeApp.Components.SelectMeasurementsForShopItem @ref="SelectModal" RequiredAmount="ModalRequiredAmount"
                                                                  MeasurementType="ModalMeasurementType"
                                                                  MeasurementsOptions="MeasurementOptions" OnConfirm="ModalOnConfirm"></BlazorPunterHomeApp.Components.SelectMeasurementsForShopItem>
    <div class="row justify-content-center">
        <div class="col-xl-10 col-md-10">
            <h3>ShoppingList</h3>
            @foreach (var item in UnCheckedListItems)
            {
                <div class="row justify-content-end">
                    <div class="col-2 col-md-1">
                        <input type="checkbox" id="@item.Item.Id" name="@item.Item.Id" @onclick="@(() => ItemClicked(item))">
                        <label for="@item.Item.Id"></label>

                    </div>
                    <div class="col-10 col-md-11" @onclick="@(() => ItemClicked(item))">
                        <div class="row">
                            <strong>@item.Item.ProductName</strong>
                        </div>
                        <div class="row">

                            <div class="col-12">
                                @($"{item.Item.Amount} x {item.Item.Measurement.UnitQuantityTypeVolume} {item.Item.Measurement.MeasurementType}")
                            </div>

                        </div>

                    </div>
                </div>
                <hr style="background-color: #DBDBDB" class="row" />
            }

            <h3>Checked items</h3>
            <button class="btn btn-outline-secondary" @onclick="@(() => ShoppingListService.AddQuantityForCheckedItems(ShoppingListService.ShoppingListId))">Add checked to product</button>
            @foreach (var item in CheckedListItems)
            {
                <div class="row">
                    <div class="col-2 col-md-1">
                        <input type="checkbox" id="@item.Item.Id" name="@item.Item.Id" @onclick="@(() => ItemClicked(item, true))" checked>
                        <label for="@item.Item.Id"></label>
                    </div>
                    <div class="col-10 col-md-11" @onclick="@(() => ItemClicked(item))">
                        <div class="row">
                            <strike><strong>@item.Item.ProductName</strong></strike>
                        </div>
                        <div class="row">

                            <div class="col-12">
                                @for (int i = 0; i < item.Item.MeasurementsForChecked.Count; i++)
                                {
                                    string prepend = i == 0 ? "" : " | ";
                                    @($"{prepend}{item.Item.MeasurementsForChecked[i].Count} x {item.Item.MeasurementsForChecked[i].Measurement.UnitQuantityTypeVolume} {item.Item.MeasurementsForChecked[i].Measurement.MeasurementType}")
                                }
                            </div>

                        </div>

                    </div>
                </div>


                <hr style="background-color: #DBDBDB" class="row" />
            }
        </div>
    </div>
</div>
