@page "/shoppinglist"


<div class="container">
        <div class="row justify-content-center">

            <h3>ShoppingList</h3>
        </div>
        <div class="row justify-content-center p-3 bg-el-1">
            <div class="col-12">
                @foreach (var item in ListItems)
                {
                    <div class="row">
                        <div class="col-12 d-flex justify-content-between">
                            <span>
                                <strong class="h5">@item.Model.ProductName</strong><br />
                                @if (item.Model.TotalAmount < 0)
                                {
                                    <del>@(item.Model.StaticAmount + item.Model.DynamicAmountRequested)</del> <span>beschikbaar</span>
                                }
                                else
                                {
                                    @($"{item.Model.TotalAmount} {item.Model.MeasurementType}")
                                }
                            </span>
                            <div>
                                @if (item.ShowInfo)
                                {
                                    <i class="fas fa-times recipe-available-color h5" @onclick="() => ShowInfo(item)"></i>
                                }
                                else
                                {
                                    <i class="fas fa-info-circle h5" @onclick="() => ShowInfo(item)"></i>

                                }
                            </div>

                        </div>
                    </div>
                    @if (item.ShowInfo)
                    {
                        <div class="pl-2">
                            <ul class="list-unstyled">
                                <li>
                                    @item.Model.StaticAmount @item.Model.MeasurementType handmatig toegevoegd
                                </li>
                            </ul>
                            <h6>A: @item.Model.DynamicAmountAvailable R:@item.Model.DynamicAmountRequested</h6>
                            <ul class="list-unstyled">
                                @foreach (var s in item.Model.DynamicItems)
                                {
                                    <li>
                                        @s.MeasurementAmount @s.MeasurementType @s.RecipeItem.RecipeName
                                    </li>
                                }
                            </ul>
                        </div>

                    }

                    <div class="row">
                        <div class="col-12"><hr class="bg-el-0" /></div>
                    </div>
                }
            </div>

        </div>


    </div>

    @if (ListItems.Count > 0)
    {

        <div class="row justify-content-md-center fixed-bottom">
            <a href="shoppinglist/@ShoppingListService.ShoppingListId/shop" class="btn btn-primary btn-puntergreen col-12 col-md-6">
                Start shopping
            </a>
        </div>
    }
