@page "/shoppinglist/{Id:guid}/shop"


<div class="container">
    <BlazorPunterHomeApp.Components.SelectMeasurementsForShopItem @ref="SelectModal" RequiredAmount="ModalRequiredAmount"
                                                                  MeasurementType="ModalMeasurementType"
                                                                  MeasurementsOptions="MeasurementOptions" OnConfirm="ModalOnConfirm"></BlazorPunterHomeApp.Components.SelectMeasurementsForShopItem>

    <div class="row justify-content-center p-2">
                <h3>Winkelen</h3>
    </div>
    <div class="row justify-content-center">
        <div class="col-xl-10 col-md-10 p-3 bg-el-1">
            <h4>Nog te kopen producten</h4>
            <hr style="background-color: #61B38E" class="mb-3"/>
            @foreach (var item in UnCheckedListItems)
            {
                <div class="row justify-content-end">
                    <div class="col-2 col-md-1">
                        <input type="checkbox" id="@item.Item.ProductId" name="@item.Item.ProductId" @onclick="@(() => ItemClicked(item))" disabled>
                        <label for="@item.Item.ProductId"></label>

                    </div>
                    <div class="col-10 col-md-11" @onclick="@(() => ItemClicked(item))">
                        <div class="row">
                            <strong>@item.Item.ProductName</strong>
                        </div>
                        <div class="row">

                            @if (item.Item.Measurement != null)
                            {

                                <div class="col-12">
                                    @($"{item.Item.Measurement.UnitQuantityTypeVolume} {item.Item.Measurement.MeasurementType}")
                                </div>
                            }

                        </div>

                    </div>
                </div>
                <hr class="row bg-el-0 mx-2" />
            }
            </div>
        <div class="mt-3 col-xl-10 col-md-10 p-3 bg-el-1">
            <h4>Afgevinkte producten</h4>
            <hr style="background-color: #61B38E" />
            @foreach (var item in CheckedListItems)
            {
                <div class="row">
                    <div class="col-2 col-md-1">
                        <input type="checkbox" id="@item.Item.ProductId" name="@item.Item.ProductId" @onclick="@(() => ItemClicked(item, true))" disabled checked>
                        <label for="@item.Item.ProductId"></label>
                    </div>
                    <div class="col-10 col-md-11" @onclick="@(() => ItemClicked(item))">
                        <div class="row">
                            <strike><strong>@item.Item.ProductName</strong></strike>
                        </div>
                        <div class="row">

                            @if (item.Item.Measurement != null)
                            {

                                <div class="col-12">
                                    @for (int i = 0; i < item.Item.MeasurementsForChecked.Count; i++)
                                    {
                                        string prepend = i == 0 ? "" : " | ";
                                        @($"{prepend}{item.Item.MeasurementsForChecked[i].Count} x {item.Item.MeasurementsForChecked[i].Measurement.UnitQuantityTypeVolume} {item.Item.MeasurementsForChecked[i].Measurement.MeasurementType}")
                                    }
                                </div>
                            }

                        </div>

                    </div>
                </div>


                <hr class="row bg-el-0 mx-2" />
            }
            @if (CheckedListItems.Count > 0 && UnCheckedListItems.Count == 0)
            {
                <button class="btn btn-outline-primary mb-2" @onclick="@(() => UpdateCheckedItems())">Gekochte producten bijwerken</button>
            }
            @if (CheckedListItems.Count == 0)
            {
                <span>Nog geen producten afgevinkt</span>
            }
        </div>
        </div>
</div>
