@page "/shoppinglist/{Id:guid}/shop/{Name}"


<div class="container mb-3">
    <BlazorPunterHomeApp.Components.SelectMeasurementsForShopItem @ref="SelectModal" RequiredAmount="ModalRequiredAmount"
                                                                  MeasurementType="ModalMeasurementType"
                                                                  MeasurementsOptions="MeasurementOptions" OnConfirm="ModalOnConfirm"></BlazorPunterHomeApp.Components.SelectMeasurementsForShopItem>

    <div class="row justify-content-start p-2">
        <div class="d-flex px-2">
            <Div Class="d-flex flex-column justify-content-start">
            <h3 class="m-0">@Name</h3>
            <h6>Winkelen</h6>

        </Div>
        </div>
        
    </div>
    <div class="row justify-content-start">
        <div class="col-xl-10 col-md-10 p-3">
            <h5>Nog te kopen producten</h5>
            <ListGroup>

                @foreach (var item in UnCheckedListItems)
                {
                    <ListGroupItem @onclick="@(() => ItemChecked(item))">
                                

                        <div class="d-flex flex-row align-items-center justify-content-start">
                            <div class="checkbox-rectangle" ></div>
                            
                            <div>
                                <span class="align-middle mx-2">@item.Name</span>
                            </div>
                        </div>

                       
                    </ListGroupItem>
                }

            </ListGroup>


            </div>
        <div class="mt-3 col-xl-10 col-md-10 p-3">
            <h5>Afgevinkte producten</h5>
            <ListGroup>

            @foreach (var item in CheckedListItems)
            {
                    <ListGroupItem @onclick="@(() => ItemUnchecked(item))"  >
                
                        <div class="d-flex flex-row align-items-center justify-content-start">
                            <Icon Name="IconName.CheckSquare"></Icon>
                            
                            <div>
                                <span class="align-middle mx-2">@item.Name</span>
                            </div>
                        </div>
                    </ListGroupItem>
            }
            </ListGroup>
            @if (CheckedListItems.Count > 0 && UnCheckedListItems.Count == 0)
            {
                <button class="btn btn-primary my-2" @onclick="@(() => UpdateCheckedItems())">Boodschappenlijst verwijderen</button>
            }
            @if (CheckedListItems.Count != 0 && UnCheckedListItems.Count > 0)
            {
                <button class="btn btn-primary my-2" @onclick="@(() => MoveUncheckedItems())">Niet gekochte items naar niewe lijst verplaatsen</button>
            }
            @if (CheckedListItems.Count == 0)
            {
                <span>Nog geen producten afgevinkt</span>
            }
        </Div>
        </div>
</div>

