@page "/shoppinglist/{Id:guid}/{Name}"


<div class="container">
    <div class="row justify-content-center p-2">
        <Div Class="d-flex flex-column justify-content-center">
                <h3 class="text-sm-center">Boodschappenlijst</h3>
                    <h6 class="text-sm-center">@Name</h6>
                </Div>
    </div>
    <Tabs SelectedTab="LosseItems">
        <Items>
            <Tab Name="Recepten">Recepten</Tab>
            <Tab Name="Producten">Producten</Tab>
            <Tab Name="LosseItems">Items</Tab>
        </Items>

        <Content>
            <TabPanel Name="Recepten">
                <div class="mt-3 mt-md-0 col-12 p-3 bg-el-1">
                    <h4>Recepten</h4>
                    <hr style="background-color: #61B38E" class="mb-3" />
                    @foreach (var item in RecipeItems)
                    {
                        <div class="row">
                            <div class="col-12 d-flex justify-content-between">
                                <span>
                                    <strong class="h5">@item.Name</strong><br />
                                    <span>
                                        @*<i class="fas fa-utensils"></i>*@
                                        @*<i class="fas fa-receipt"></i>*@
                                        @($"{item.Model.Amount} personen")
                                    </span>
                                </span>
                            </div>

                            @*<div class="col-12">
                                <div class="d-flex justify-content-between">
                                <div>
                                <span>
                                @($"{item.Model.StaticCount + item.Model.DynamicCount} personen")
                                </span>
                                </div>
                                <div>
                                <div class="d-flex justify-content-around">
                                <button @onclick="(() => DecreaseQuantityToItem(item, true))" class="btn oval-button"><i class="fas fa-minus"></i></button>
                                @*<span class="mx-2"><strong>@item.Model.StaticCount</strong></span>
                                <button @onclick="(() => AddQuantityToItem(item, true))" class="btn oval-button"><i class="fas fa-plus"></i></button>
                                </div>
                                </div>
                                </div>
                                </div>*@
                        </div>
                        @if (item.ShowInfo)
                        {
                            <div class="pl-2">
                                <ul class="list-unstyled">
                                    @*@{
                                        var staticItems = item.Model.StaticItems.GroupBy(s => s.Reason).ToDictionary(a => a, a => a.Sum(s => s.MeasurementAmount));
                                        @foreach (var s in staticItems)
                                        {
                                        <li>
                                        @s.Value @s.Key.First().MeasurementType @(s.Key.First().Reason == Enums.EShoppingListReason.Manual ? "Handmatig toegevoegd" : $"{s.Key.First().RecipeItem.RecipeName} ({s.Key.Sum(s => s.RecipeItem.NrOfPersons)}p)")
                                        </li>
                                        }
                                        }*@
                                </ul>
                                @*<h6>A: @item.Model.DynamicAmountAvailable R:@item.Model.DynamicAmountRequested</h6>*@
                                <ul class="list-unstyled">
                                    @*@{
                                        var dynamicItems = item.Model.DynamicItems.GroupBy(s => s.RecipeItem.RecipeName).ToDictionary(a => a, a => a.Sum(s => s.MeasurementAmount));
                                        @foreach (var s in dynamicItems)
                                        {
                                        <li>
                                        @s.Value @s.Key.First().MeasurementType @(s.Key.Key) (@(s.Key.Sum(s => s.RecipeItem.NrOfPersons))p)
                                        </li>
                                        }
                                        }*@

                                </ul>
                            </div>

                        }


                        <hr class="row bg-el-0 mx-2" />
                    }
                </div>
            </TabPanel>

            <TabPanel Name="Producten">
                <div class="mt-3 mt-md-0 col-12 p-3 bg-el-1">
                    <h4>Producten</h4>
                    <hr style="background-color: #61B38E" class="mb-3" />
                    @foreach (var item in ProductItems)
                    {
                        <Row>
                            <Column ColumnSize="ColumnSize.IsAuto">
                                <Span>@($"{item.Model.Amount} {item.EUnitMeasurementType}")</Span>
                            </Column>
                            
                            <Column ColumnSize="ColumnSize.IsAuto">
                                <Span><strong class="h5">@item.Model.ProductName</strong></Span>
                            </Column>
                        </Row>
                        <hr class="row bg-el-0 mx-0" />
                    }
                </div>
            </TabPanel>

            <TabPanel Name="LosseItems">
                <div class="mt-3 mt-md-0 col-12 p-3 bg-el-1">
                    <h4>Items</h4>
                    <hr style="background-color: #61B38E" class="mb-3" />

                    <EditForm OnValidSubmit="AddItem" Model="newItemModel">
                        <div class="input-group mb-2">
                            <InputText rows="4" type="text" class="form-control" id="Instruction text" @bind-Value="newItemModel.Text" />
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-outline-primary">Toevoegen</button>
                            </div>
                        </div>
                    </EditForm>
                    @foreach (var item in Items)
                    {
                        <div class="row">
                            <div class="col-10 d-flex justify-content-between">
                                <span class="align-bottom">@item.Value</span>
                            </div>

                            <div class="col-2 d-flex justify-content-end">
                                <Button Outline Clicked="@(() => RemoveItem(item.Value))">
                                    <Icon Name="IconName.Delete"></Icon>
                                </Button>
                            </div>
                        </div>
                        <hr class="row bg-el-0 mx-2" />
                    }
                </div>
            </TabPanel>
        </Content>
    </Tabs>




</div>


@if (ProductItems.Count + RecipeItems.Count + Items.Count > 0)
{

    <div class="row justify-content-md-center fixed-bottom">
        <a href="shoppinglist/@Id/shop/@Name" class="btn btn-primary col-12 col-md-6" @onclick="@(() => SetShopping())">
            Winkelen
        </a>
    </div>
}
