<Div Class="d-flex flex-column" Style="box-shadow: 0px 0px 5px grey;">
    <Div class="p-3" style="height: 200px; opacity: 0.6" > 
        @if (PreviousStep != null)
        {
            <RecipeStepComponent StepNumber="@PreviousStep.Order" Text="@PreviousStep.Text"></RecipeStepComponent>
        }
        else
        {
                <RecipeStepComponent StepNumber="0" Text="Have fun!"></RecipeStepComponent>
            
        }

    </Div>
    <Div class="p-3 m-2" style="position: relative; height: 300px; background: #EEEAE4; box-shadow: 0px 0px 20px grey;" >
        
        <RecipeStepComponent StepNumber="@CurrentStep.Order" Text="@CurrentStep.Text" ShowButtons="true"></RecipeStepComponent>
        <Div Style="position: absolute; right:0px; bottom: 0px">
                <Div Class="d-flex m-3">
                    @if (PreviousStep != null)
                    {
                        <Button Class="btn btn-outline-primary" @onclick="() => ChangeStep(-1)">Vorige stap</Button>
                    }
                    
                    @if (NextStep != null)
                    {
                        <Button Class="btn btn-primary ml-2" @onclick="() => ChangeStep(1)">Volgende stap</Button>
                    }
                </Div>
            </Div>
        
    </Div>
    <Div class="p-3" style="height: 200px; opacity: 0.6" >
        @if (NextStep != null)
        {
            <RecipeStepComponent StepNumber="@NextStep.Order" Text="@NextStep.Text"></RecipeStepComponent>
        }
        else
        {
            <RecipeStepComponent StepNumber="@(CurrentStep.Order + 1)" Text="Lekker eten!"></RecipeStepComponent>
        }
    </Div>
</Div>
