
@if (Product != null)
{
    <div class="d-flex justify-content-center pt-2">
        <span class="h3"> @Product.ProductModel.Name</span>
        <button class="btn"><Icon Name="IconName.Delete" @onclick="() => HandleDeleteProduct(Product)"></Icon></button>
    </div><div class="row p-2">
    <ul class="tags ul-np">
        @foreach (var label in Product.ProductModel.Tags)
        {
            <li style="margin-left:1px" class="prodruct-tag bg-green">

                <span style="font-size: 12px;font-weight: bold; text-transform: uppercase; color:white">
                    @label.Name
                </span>
            </li>

        }
        @if (!myIsAddingTag)
        {
            <li style="margin-left:1px" class="prodruct-tag bg-green add-tag" @onclick="HandleAddTagClicked">

                <span style="font-size: 12px;font-weight: bold; text-transform: uppercase; color:white">
                    <i class="fas fa-plus"></i> Add..
                </span>
            </li>

        }
        @if (myIsAddingTag)
        {
            <li class="prodruct-tag bg-green add-tag">
                <div class="prodruct-tag">
                    <select class="prodruct-tag" @onchange=@NewTagClicked>
                        <option value="">select...</option>
                        @foreach (var tag in AllTags)
                        {
                            <option>@tag.Name</option>
                        }
                    </select>
                    @*<EditForm Model="NewTag">
                            <InputSelect ValueExpression="() => NewTag.Name" Value="@NewTag.Name" ValueChanged="((string s) => MyValueChangeHandler(s))">
                                <option value="">select...</option>
                                @foreach (var tag in AllTags)
                                {
                                    <option>@tag.Name</option>
                                }
                            </InputSelect>
                        </EditForm>*@
                </div>

                @*<div class="dropdown">
                        <input list="tag-choices" />
                        <datalist id="tag-choices">
                            @foreach (var tag in AllTags)
                            {
                                <option value="@tag.Name" @onclick="() => NewTagClicked(tag.Id)" @onfocusout="() => NewTagClicked(tag.Id)"></option>
                            }
                        </datalist>
                    </div>*@
            </li>
        }
    </ul>

</div>
    <div class="container-xl justify-content-center m-md-2 m-0 bg-el-1">

        <div class="row p-2">
            <span class="h4">Hoeveelheden</span>
        </div>
        
        <div class="d-flex justify-content-between p-2 col-12 col-md-6">
            <div>Huidige hoeveelheid:</div>
            <h5><strong>@Product.GetQuantityString()</strong></h5>
        </div>

        @foreach (var prodQuan in Product.ProductModel.ProductQuantities)
        {
            <div class="col-12 col-md-6 col-lg-6">
                <div class="row">
                    <div class="col-12">
                        <strong>@prodQuan.UnitQuantityTypeVolume @prodQuan.MeasurementType</strong>

                    </div>
                </div>
                <div class="row justify-content-between">

                    <div class="col-4">
                        <i class="fas fa-barcode" @onclick="() => HandleAddBarcode(prodQuan.ProductQuantityId)"></i> @prodQuan.Barcode
                    </div>
                    <div class="col-8 btn-toolbar d-flex flex-row-reverse">
                        <div class="btn-group btn-group-sm">

                            <button class="btn fg-btn-danger"><Icon Name="IconName.Delete" @onclick="() => HandleDeleteProductQuantity(prodQuan.ProductQuantityId)"></Icon></button>
                            <button class="btn fg-btn" @onclick="() => HandleAddToCart(prodQuan)"><i class="fas fa-cart-plus"></i></button>
                        </div>
                        <div class="d-flex justify-content-between">
                            <button @onclick="() => DecreaseQuantity(prodQuan.ProductQuantityId)" class="btn oval-button mr-2"><i class="fas fa-minus"></i></button>
                            <button @onclick="() => IncreaseQuantity(prodQuan.ProductQuantityId)" class="btn oval-button"><i class="fas fa-plus"></i></button>
                        </div>
                        @*<div class="btn-group btn-group-sm mr-2" role="group">
                            <button class="btn btn-primary" type="button" @onclick="() => DecreaseQuantity(prodQuan.ProductQuantityId)"><i class="fas fa-minus"></i></button>
                            <button class="btn btn-primary" type="button" @onclick="() => IncreaseQuantity(prodQuan.ProductQuantityId)"><i class="fas fa-plus"></i></button>
                        </div>*@
                    </div>
                </div>

                <div class="row">
                    <div class="col-12"><hr class="bg-el-0" /></div>
                </div>
            </div>
        }
        <div class="row pb-2 justify-content-end col-12 col-md-6">
            <button @onclick="ShowAddProductQuantityModal" class="btn btn-outline-secondary">Product hoeveelheid toevoegen</button>
        </div>
    </div>

}
